// Files named _index get picked up by Sass if you specify the folder.
// I've put everything in its own little file, but we don't technically *need* to. - Jadon

// WE SHOULD BE USING `@use` INSTEAD OF `@import`, BUT IT FUCKS UP THE NAMESPACES!!
@import "./profiles.scss";
@import "./releases.scss";
@import "./post.scss";

// The "body" is just to force the style to a higher priority so it overrides the theme
body pre,
body code {
	// border: 1px solid #ccc;
	border: none;
	border-radius: 0;
	background-color: #eee;
}
