div.tile-grid {
	display: flex;
	flex-direction: row;
	gap: $profile-padding;

	& > a {
		display: contents;
	}

	& > a > div {
		background-position: center;
		background-size: cover;
		overflow: hidden;
		border-radius: $block-border-radius;
		width: 100%;
		aspect-ratio: 1/1;
		margin: 0.5em;
		padding: 20px;
		color: #fff;
		
		transition: transform 0.2s cubic-bezier(.17,.84,.44,1);

		&:hover {
			transform: perspective(200px) scale(1.08) rotateX(4deg);
		}

		h2 {
			font-weight: 600;
			line-height: 1.0;
			font-size: 30pt;
			text-shadow: 2px 2px 5px #0002;
		}
	}
}