
// Add support for image headers to posts
header.post-header > div.post-image {
	position: relative;
	padding: 1.0em;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 1;
	
	width: 100%;
	min-height: 140px;
	background-color: #0001;
	border-radius: $block-border-radius;
	margin-bottom: 0.8em;

	& > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}

	& > h1 {
		font-weight: bolder;
		color: #fff;
		margin-bottom: 0.15em;
		text-shadow: 0 4px 10px #0002;
	}

	& > p {
		margin-bottom: 0;
		color: #fff8;
	}
}

div.post-content p > img,
div.post-content video {
	border-radius: $block-border-radius;
	overflow: hidden;
}

// Simple class that makes images align nicely into multiple rows
p.hstack {
	display: flex;
	gap: 15px;
	
	& > img,
	& > video {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	& > img.w2, & > video.w2 { width: 200% }
	& > img.w3, & > video.w2 { width: 300% }
}

hr {
	margin-bottom: 1em;
	border: none;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 450px) {
	p.hstack {
		flex-direction: column;
	}
}

yt-video {
	display: contents;

	& > div.cookie-prompt {
		background-color: #aaa;
		background-size: 100%;
		display: flex;
		border-radius: $block-border-radius;
		color: #222;
		font-size: 9pt;

		& > div {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			margin: auto;
			width: 40%;
			background: #eee;
			padding: 0.5rem;
			border-radius:0.25rem;
		}

		button {
			background-color: $brand-color;
			color: #fff;
			border: none;
			border-radius: $block-border-radius;
			padding: 0.25rem;

			&:hover {
				background-color: darken($brand-color, 10%);
			}
		}
	}
}